<!-- Header -->
<div class="items-center flex">
    <img
      alt="..."
      class="w-full"
      src="assets/img/Bg_admin.jpg"
    />
</div>
<div class="relative bg-700  md:pt-0 pb-32 pt-12" style="background-color:#ff8533">
  <br>
  <div class="px-4 md:px-10 mx-auto w-full">
    <div>
      <!-- Card stats -->
      <div class="flex flex-wrap">
        <div class="w-full lg:w-6/12 xl:w-3/12 px-4">
          <app-card-stats
            statSubtitle="Register"
            statTitle="ลงทะเบียน"
            statIconName="fa fa-address-card"
            statIconColor="bg-red-500"
            routerLink="/auth/register"
          ></app-card-stats>
        </div>
        <div class="w-full lg:w-6/12 xl:w-3/12 px-4">
          <app-card-stats
            statSubtitle="Manager"
            statTitle="จัดการสมาชิก"
            statIconName="fa fa-user"
            statIconColor="bg-orange-500"
            routerLink="/auth/register"
          ></app-card-stats>
        </div>
        <div class="w-full lg:w-6/12 xl:w-3/12 px-4">
          <app-card-stats
            statSubtitle="Calculate"
            statTitle="คำนวณยอดเงิน"
            statIconName="fa fa-calculator"
            statIconColor="bg-pink-500"
            routerLink="/auth/register"
          ></app-card-stats>
        </div>
        <div class="w-full lg:w-6/12 xl:w-3/12 px-4">
          <app-card-stats
            statSubtitle="Report"
            statTitle="รายงาน"
            statIconName="fa fa-envelope-open"
            statIconColor="bg-emerald-500"
            routerLink="/auth/register"
          ></app-card-stats>
        </div>
      </div>
    </div>
  </div>
</div>
