<div style="margin-top: 10;">
    <h1 style="text-align: center;  margin-top: 15px;">อนุมัติการจอง</h1>

    <table class="table table-striped table-hover" style="margin-top: 20px;">
        <thead>
            <tr style="background-color: #ffcc80">
                <th scope="col" style="text-align: center;">ลำดับ</th>
                <th scope="col" class="text-nowrap">ชื่อ - นามสกุล</th>
                <th scope="col" class="text-nowrap">ยี่ห้อ</th>
                <th scope="col" class="text-nowrap">รุ่น</th>
                <th scope="col" class="text-nowrap">ราคา</th>
                <th scope="col" class="text-nowrap">เกียร์</th>
                <th scope="col" class="text-nowrap">ระยะทาง</th>
                <th scope="col" class="text-nowrap">น้ำมัน</th>
                <th scope="col" class="text-nowrap">ปี รถ</th>
                <th scope="col" class="text-nowrap">เริ่มต้นการจอง</th>
                <th scope="col" class="text-nowrap">หมดอายุการจอง</th>
                <th scope="col" class="text-nowrap">สถานะ</th>
            </tr>
        </thead>
        <tbody>

            <tr *ngFor="let item of listReserve; let i = index ">
                <!-- <tr *ngFor="let country of countries"> -->
                <th style="text-align: center;">{{i+1}}</th>
                <td scope="col" class="text-nowrap">{{item.fullName}}</td>
                <td scope="col" class="text-nowrap">{{item.carResponseModel.carBrand}}</td>
                <td scope="col" class="text-nowrap">{{item.carResponseModel.carModel}}</td>
                <td scope="col" class="text-nowrap">{{item.carResponseModel.carPrice}}</td>
                <td scope="col" class="text-nowrap">{{item.carResponseModel.carGear}}</td>
                <td scope="col" class="text-nowrap">{{item.carResponseModel.carMiles}}</td>
                <td scope="col" class="text-nowrap">{{item.carResponseModel.carOil}}</td>
                <td scope="col" class="text-nowrap">{{item.carResponseModel.carYear}}</td>
                <td scope="col" class="text-nowrap">{{item.bookStartDateStr}}</td>
                <td scope="col" class="text-nowrap">{{item.bookEndDateStr}}</td>
                <td scope="col" class="text-nowrap">
                    <button *ngIf="item.recordStatus == 1" class="btn btn-warning" style="width: 100px;"
                        (click)="onGetReserveById(item)">รออนุมัติ</button>
                    <!-- <button *ngIf="item.recordStatus == 2" class="btn btn-success" style="width: 100px;"
                        (click)="onGetReserveById(item)">อนุมัติแล้ว</button>
                    <button *ngIf="item.recordStatus == 4" class="btn btn-danger" style="width: 137px;"
                        (click)="onGetReserveById(item)">ชำระเงินไม่สำเร็จ</button> -->

                <td>
            </tr>
        </tbody>
    </table>
    <ng-template #customLoadingTemplate>
    </ng-template>
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"
        [template]="customLoadingTemplate"></ngx-loading>
</div>