<section class="vh-100" >
    <div class="container-fluid h-custom" >
        <div class="row d-flex justify-content-center align-items-center h-100" style="margin-top: 100px;">
            <!-- <div class="col-md-9 col-lg-6 col-xl-5" >
                <img src="https://www.toyotabuzz.com/img/upload/car/large/20220801153719_934315410.png"
                    class="img-fluid" alt="Sample image">
            </div> -->
            <div  style="width: 45rem; height: 30rem; background-color:  rgb(242, 242, 242);" >
                <!-- <div class="text-center" style="margin-top: 20px;">
                    <img src="assets/img/CarLogo-depositphotos-bgremover.png" style="width: 300px;" alt="logo">

                </div> -->
                <form  style="margin-right: 0px; margin-top: 40px;">
                    <p style="text-align: center; font-size: 24px;">กรุณาแนบสลิปการชำระค่ามัดจำ</p>
                    

                    <div class="mb-3" style=" margin-top: 100px;     margin-left: 130px;">
                        <label for="formFile" class="form-label">กรุณาเลือกไฟล์</label>
                        <input  class=" form-control" type="file" id="formFile" style="width: 450px;">
                      </div>

                      <div class="form-group row" style="margin-top: 175px;">

                    </div>


                      
                </form>
            </div>
        </div>
    </div>
</section>

