<div class="row d-flex justify-content-center align-items-center h-100" style="margin-top: 100px;">
    <div class="row d-flex  " style="width: 75rem; height: 33rem;background-color:  rgb(242, 242, 242);">
        <div class="col-md-6" style="margin-top: 12px;">
            <ngb-carousel style="height: 500px;">
                <ng-template ngbSlide *ngFor="let item of images;  let i = index">
                    <div class="text-center" style=" margin-top: 20px; margin-right: 10px;">
                        <img style="width: 560px; height: 470px;" [src]="item.carImage" alt="Random first slide" />
                    </div>
                </ng-template>
            </ngb-carousel>
        </div>

        <div class="col-md-6" style="margin-top: 12px;">

            <form style="margin-right: 0px; margin-top: 10px;">
                <p style="text-align: center;"> <strong style="font-size: 20px;">ข้อมูลรถยนต์</strong></p>
                
                <div class="form-group row" style="margin-top: 15px;">
                    <label class="col-lg-2" style=" text-align: right;">ยี่ห้อ : </label>
                    <div class="col-lg-4">
                        <label *ngIf="car != null">{{car.carBrand}}</label>
                    </div>
                    <label class="col-lg-2" style=" text-align: right;">รุ่น : </label>
                    <div class="col-lg-4">
                        <label *ngIf="car != null">{{car.carModel}}</label>
                    </div>
                </div>
                
                <div class="form-group row" style="margin-top: 15px;">
                    <label class="col-lg-2" style=" text-align: right;">ราคา : </label>
                    <div class="col-lg-4">
                        <label *ngIf="car != null">{{car.carPrice}}</label>
                    </div>
                    <label class="col-lg-2" style=" text-align: right;">เกียร์ : </label>
                    <div class="col-lg-4">
                        <label *ngIf="car != null">{{car.carGear}}</label>
                    </div>
                </div>
                <div class="form-group row" style="margin-top: 15px;">
                    <label class="col-lg-2" style=" text-align: right;">ระยะทาง : </label>
                    <div class="col-lg-4">
                        <label *ngIf="car != null">{{car.carMiles}}</label>
                    </div>
                    <label class="col-lg-2" style=" text-align: right;">น้ำมัน : </label>
                    <div class="col-lg-4">
                        <label *ngIf="car != null">{{car.carOil}}</label>
                    </div>
                </div>
                <div class="form-group row" style="margin-top: 15px;">
                    <label class="col-lg-2" style=" text-align: right;">ปี พ.ศ. : </label>
                    <div class="col-lg-4">
                        <label *ngIf="car != null">{{car.carYear}}</label>
                    </div>

                </div>
                <div style="margin-top: 25px;">
                    <hr class="my-1" >
                </div>
                
                <p style="text-align: center; margin-top: 20px;"> <strong style="font-size: 20px; ">รายละเอียดผู้จอง</strong></p>
                <div class="form-group row" style="margin-top: 15px;">
                    <label class="col-lg-2" style=" text-align: right;">ชื่อ : </label>
                    <div class="col-lg-4">
                        <label *ngIf="user != null">{{user.fristName}}</label>
                    </div>
                    <label class="col-lg-2" style=" text-align: right;">นามสกุล : </label>
                    <div class="col-lg-4">
                        <label *ngIf="user != null">{{user.lastName}}</label>
                    </div>
                </div>
                <div class="form-group row" style="margin-top: 15px;">
                    <label class="col-lg-2" style=" text-align: right;">เบอร์โทร : </label>
                    <div class="col-lg-4">
                        <label *ngIf="user != null">{{user.userPhone}}</label>
                    </div>
                </div>
                <div class="form-group row" style="margin-top: 15px;">
                    <label class="col-lg-2" style=" text-align: right;">E-mail : </label>
                    <div class="col-lg-4">
                        <label *ngIf="user != null">{{user.userEmail}}</label>
                    </div>
                </div>


                <br style="clear:both;float:left;" />

                <div class="form-group row" style="margin-top: 18px;">

                    <div class="text-center" style="margin-bottom: 14px;">
                        <input class="col-lg-3" type="button" class="btn btn-success"
                            style="margin-right: 10px; width: 105px;" (click)="goPayment()" value="ชำระค่ามัดจำ">
                        <input class="col-lg-3" type="button" class="btn btn-danger" style="width: 105px;"
                            (click)="goBack()" value="ย้อนกลับ">
                    </div>
                </div>


            </form>
        </div>
    </div>
    <ng-template #customLoadingTemplate>
    </ng-template>
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"
        [template]="customLoadingTemplate"></ngx-loading>
</div>