body {
    margin: 10px 10px 30px 10px;
}

h1 {
    text-align: center;
    color: #5f0177;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#pass,
#user,
#value1,
#value2,
#confirmPassword {
    color: red;
    display: none;
}

.input_values {
    text-align: center;
    color: #01725a;
}

#password {
    -webkit-text-security: disc;
}