<div class="container">
    <h1>Login Page by Angular</h1>
    <hr>

    <div class="justify-content-center align-items-center">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label>User Id : </label>
                <input [class.is-invalid]="username.invalid && (username.touched || hasSubmitted)" formControlName="username" type="text" class="form-control" placeholder="Create a username">
                <div *ngIf="username.invalid && (username.touched || hasSubmitted)">
                    <small *ngIf="username.errors?.required" class="text-danger">username is required</small>
                    <small *ngIf="username.errors?.pattern" class="text-danger">There should not be any special character in username</small>
                </div>
            </div>

            <div class="form-group">
                <label>Password : </label>
                <input [class.is-invalid]="password.invalid && (password.touched || hasSubmitted)" formControlName="password" type="text" class="form-control" placeholder="Create a Password" id="password" autocomplete="off">
                <div *ngIf="password.invalid && (password.touched || hasSubmitted)">
                    <small *ngIf="password.errors?.required" class="text-danger">Password is required</small>
                    <small *ngIf="password.errors?.minlength" class="text-danger">Password should be minimum 6 characters</small>
                </div>
            </div>

            <button routerLink="/reg" type="button" class="btn btn-secondary m-2">Not Registered? Register Here</button>
            <input type="submit" class="btn btn-primary float-right m-2" value="Login">
            <!--<h5 *ngIf="success" class="successs mt-4">Login successful</h5>-->
        </form>

        <!--{{loginForm.value | json}}
        <div *ngIf="success" class="results">
            <strong>username entered : </strong>
            <span>{{loginForm.controls.userId.value}}</span><br>
            <strong>Password entered : </strong>
            <span>{{loginForm.controls.pass.value}}</span>
        </div>-->
    </div>
</div>

<!--<div *ngIf="submitted && loginForm.controls.userId.errors" class="error">
                    <small *ngIf="loginForm.controls.userId.errors.required" class="danger"> Sorry, username is required</small>
</div>-->
<!--<div *ngIf="submitted && loginForm.controls.pass.errors" class="error">
                    <small *ngIf="loginForm.controls.pass.errors.required" class="danger"> Sorry, Password is required</small>
</div>-->