<div class="col-md-6 offset-md-3">
    <span class="anchor" id="formChangePassword"></span>


    <!-- form card change password -->
    <div class="card card-outline-secondary" style="margin-top: 10%;">
        <div class="card-header" style="text-align: center; background-color:  #ffcc80">
            <h3 class="mb-0">เปลี่ยนรหัสผ่าน</h3>
        </div>
        <div class="card-body">
            <form class="form" role="form" [formGroup]="changePasswordForm" (ngSubmit)=" onSubmit()">
                <div class="form-group">
                    <label for="inputPasswordOld">รหัสผ่านปัจจุบัน</label>
                    <input type="password" class="form-control" formControlName="password" required>
                </div>
                <!-- <div
                    *ngIf="changePasswordForm.controls['password'].invalid && (changePasswordForm.controls['password'].dirty || changePasswordForm.controls['password'].touched || isSubmit)">
                    <p class="text-danger">กรุณากรอกรหัสผ่านเดิม</p>
                </div> -->
                <div class="form-group" class=" pt-1 mb-0 pb-1 mt-2 pt-2">
                    <label for="inputPasswordNew">รหัสผ่านใหม่</label>
                    <input type="password" class="form-control" formControlName="passwordNew" required>
                    <span class="form-text small text-muted">
                        รหัสผ่านต้องมีความยาว 8-20 อักขระ และต้อง <em class="text-body">ไม่</em> มีช่องว่าง
                    </span>
                    <div
                        *ngIf="changePasswordForm.controls['passwordNew'].invalid && (changePasswordForm.controls['passwordNew'].dirty || changePasswordForm.controls['passwordNew'].touched || isSubmit)">
                        <p class="text-danger">กรุณากรอกรหัสผ่านใหม่</p>
                    </div>
                    <div *ngIf="isPassword">
                        <p class="text-danger">รหัสผ่านไม่ตรงกัน</p>
                    </div>
                </div>
                <div class="form-group" class=" pt-1 mb-0 pb-1 mt-2 pt-2">
                    <label for="inputpasswordConfirm">ยืนยันรหัสผ่านใหม่</label>
                    <input type="password" class="form-control" formControlName="passwordConfirm" required>
                    <span class="form-text small text-muted">
                        เพื่อเป็นการยืนยัน ให้พิมพ์รหัสผ่านใหม่อีกครั้ง
                    </span>
                    <div
                        *ngIf="changePasswordForm.controls['passwordConfirm'].invalid && (changePasswordForm.controls['passwordConfirm'].dirty || changePasswordForm.controls['passwordConfirm'].touched || isSubmit)">
                        <p class="text-danger">กรุณายืนยันรหัสผ่านใหม่อีกครั้ง</p>
                    </div>
                </div>

                <div class="mt-4 pt-4" class="pt-1 mb-0 pb-1 mt-2 pt-2" style="text-align: right;">
                    <button class="btn btn-success " style="margin-right: 10px; width: 100px;">บันทึก</button>
                </div>

            </form>
        </div>
    </div>
    <!-- /form card change password -->
    <ng-template #customLoadingTemplate>
    </ng-template>
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"
        [template]="customLoadingTemplate"></ngx-loading>

</div>

<!-- <section class="vh-100">
    <div class="container-fluid h-custom">
        <div class="row d-flex justify-content-center align-items-center h-100" style="margin-top: 100px;">
            
            <div  style=" width: 70rem; height: 33rem; background-color:  rgb(242, 242, 242);">
                <div class="col-md-9 col-lg-6 col-xl-5">
                    <img src="https://img.khaorot.com/2019/04/23/rGTHyD9i/toyota-fortuner--3900.jpg" class="img-fluid" alt="Sample image">
        
                <span style="margin-left: 50px;"></span>
                <form style="margin-right: 0px; margin-top: 20px;">
                    <p style="text-align: center;"> <strong style="font-size: 20px;">ข้อมูลรถยนต์</strong></p>

                    <div class="form-group row" style="margin-top: -5px;">
                        <tr>
                            <td>
                                <label style="font-size: 16px;">ยี่ห้อ : <span
                                        style="font-size: 16px; margin-left: 160px;">รุ่น : </span></label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label style="font-size: 16px;">ราคา : <span
                                        style="font-size: 16px; margin-left: 157px;">เกียร์ : </span> </label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label style="font-size: 16px;">ระยะทาง : <span
                                        style="font-size: 16px; margin-left: 127px;">น้ำมัน : </span> </label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label style="font-size: 16px;">ปี พ.ศ. :</label>
                            </td>
                        </tr>
                    </div>
                    <hr class="my-1">
                    <p style="text-align: center;"> <strong style="font-size: 20px;">รายละเอียดผู้จอง</strong></p>

                    <div class="form-group row" style="margin-top: -5px;">
                        <label class="col-lg-1 col-form-label form-control-label" style="line-height: 2.2;">ชื่อ</label>
                        <div class="col-lg-4 col-form-label form-control-label "
                            style="line-height: 2.2; margin-left: -12px;">
                            <input class="form-control" type="text" value="ธีรพงษ์">
                        </div>
                        <label class="col-lg-1 col-form-label form-control-label"
                            style="line-height: 2.2; margin-left: 50px;" >นามสกุล</label>
                        <div class="col-lg-4 col-form-label form-control-label "
                            style="line-height: 2.2; margin-left: 22px;">
                            <input class="form-control" type="text" value="">
                        </div>
                    </div>


                    <div class="form-group row">
                        <label class="col-lg-1 col-form-label form-control-label" style="line-height: 2.2;">อีเมล</label>
                        <div class="col-lg-4 col-form-label form-control-label "
                            style="line-height: 2.2; margin-left: -12px; margin-left: 2px;">
                            <input class="form-control" type="text" value="ธีรพงษ์">
                        </div>
                        <label class="col-lg-2 col-form-label form-control-label"
                                style="line-height: 2.2; margin-left: 35px;">เบอร์โทร</label>
                            <div class="col-lg-4 col-form-label form-control-label " style="line-height: 2.2;     margin-left: -22px;">
                                <input class="form-control" type="text" value="">
                            </div>
                    </div>


                    <br style="clear:both;float:left;" />

            

                    <div class="form-group row" style="margin-top: 18px;">

                        <div class="text-center" style="margin-bottom: 14px;">
                            <input class="col-lg-3" type="button" class="btn btn-success"
                                style="margin-right: 10px; width: 105px;" routerLink="../payment"
                                value="ชำระค่ามัดจำ">
                            <input class="col-lg-3" type="button" class="btn btn-danger" style="width: 105px;"
                                routerLink="../cardetail" value="ย้อนกลับ">
                        </div>
                    </div>


                </form>
            </div>
            </div>
        </div>
    </div>
</section> -->