<div class="text-center">
    <h5 class="display-4 text-info p-2">Special Offers</h5>
    <p class="text-muted">The following events are applicable to all. To get more attractive and personalised offers, Kindly login and visit <b>Special Offers</b> page.</p>
    <div class="row m-2">
        <div class="col-sm-4">
            <div class="card">
                <img src="https://images.unsplash.com/photo-1620142708137-90e7b4ebc22b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=750&q=80" class="card-img-top" height="200px" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Offer 1</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel similique reprehenderit asperiores.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <img src="https://images.unsplash.com/photo-1518811829466-1372392d4544?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=765&q=80" class="card-img-top" height="200px" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Offer 2</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel similique reprehenderit asperiores.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <img src="https://images.unsplash.com/photo-1611362487355-757f215bb5ec?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80" class="card-img-top" height="200px" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Offer 3</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel similique reprehenderit asperiores.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer bg-dark text-light">
        Made with ❤ by <a class="text-light" href="https://swarnadeepghosh.github.io/">Swarnadeep</a>
    </div>
</div>