<nav class="navbar navbar-expand-lg navbar-dark " style="background-color: #5f0177;">
    <a class="navbar-brand" routerLink="/">Login Angular</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <!--<li *ngIf="!loggedIn()" class="nav-item">
                <a class="nav-link" routerLink="/login" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Login <span class="sr-only">(current)</span></a>
            </li>-->
            <li class="nav-item">
                <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/special" routerLinkActive="active">Special Offers</a>
            </li>
        </ul>

        <ul class="navbar-nav">
            <li *ngIf="!loggedIn()" class="nav-item">
                <a class="nav-link" routerLink="/login" routerLinkActive="active">Login</a>
            </li>
            <li *ngIf="!loggedIn()" class="nav-item">
                <a class="nav-link" routerLink="/reg" routerLinkActive="active">Register</a>
            </li>
            <li *ngIf="loggedIn()" class="nav-item dropdown">
                <button class="btn btn-outline-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Welcome {{loggedInUser}}
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" routerLink="/special">Dashboard</a>
                    <a class="dropdown-item" routerLink="/profile">Profile</a>
                    <a class="dropdown-item" (click)="onLogout()"><strong>Logout</strong></a>
                </div>
            </li>
        </ul>


        <!--<div *ngIf="loggedIn()" class="dropdown mr-2">
            <button class="btn btn-outline-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Welcome {{loggedInUser}}
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" routerLink="/success">Dashboard</a>
                <a class="dropdown-item" routerLink="/profile">Profile</a>
                <a class="dropdown-item" (click)="onLogout()"><strong>Logout</strong></a>
            </div>
        </div>-->

        <!--<div class="dropdown mr-5"></div>
        <div class="dropdown-menu" *dropdownMenu>

        </div>-->

    </div>
</nav>

<router-outlet></router-outlet>