<div disableDragDrop class="container my-3 pb-4">
    <!--Interpolation-->
    <h3>Hello there, test Component is working</h3>

    <!--Event Binding-->
    <button class="btn btn-primary" (click)="onClick($event)" value="myValue">Click me</button>
    <p>{{greeting}}</p>

    <!--Template reference variable-->
    <input #myInput type="text">
    <button (click)=log(myInput.value) class="m-3">Log input in console</button>

    <!--Dependency Injection + HTTP API calling-->
    <h3>Cars List</h3>
    <ul *ngFor="let car of cars">
        <li>{{car.id}} - {{car.brand}} - {{car.engine}}cc</li>
    </ul>

    <h2>Routing and Navigation</h2>
    <button type="button" routerLink="/test/departments" class="btn btn-outline-warning">Departments</button>
    <button type="button" routerLink="/test/employees" class="btn btn-outline-info m-2">Employees</button>

    <h3 class="p-2">Custom Directives</h3>

    <div class="col-md-4 my-2">
        <input type="text">
        <!-- <input (dragover)=disableDragEvent($event) (drop)=disableDropEvent($event) (dragenter)=disableDragenterEvent($event)  type="text">-->
    </div>

    <div class="col-md-4 my-2">
        <input type="text" >
    </div>
</div>