<section>
    <div>
        <div class="row d-flex  align-items-center "
            style="width: 70rem; height: 31rem; margin-top: 100px;background-color:  rgb(242, 242, 242); margin-left: 85px;">
            <div class="col-md-6" style="text-align: center;">
                <img [src]="imageBase64" style="width: 300px;" class="rounded" />
            </div>
            <div class="col-md-6">


                <form style="margin-right: 0px; margin-top: 20px;" class="pull-right">
                    <p style="text-align: center;"> <strong style="font-size: 20px;">ข้อมูลการสั่งจอง</strong></p>

                    <div class="form-group row" style="margin-top: -5px;">
                        <div class="form-group row" style="margin-top: 15px;">
                            <label class="col-lg-3" style=" text-align: right;">ยี่ห้อ : </label>
                            <div class="col-lg-3">
                                <label>{{data.carResponseModel.carBrand}}</label>
                            </div>
                            <label class="col-lg-2" style=" text-align: right;">รุ่น : </label>
                            <div class="col-lg-4">
                                <label>{{data.carResponseModel.carModel}}</label>
                            </div>
                        </div>

                        <div class="form-group row" style="margin-top: 15px;">
                            <label class="col-lg-3" style=" text-align: right;">ราคา : </label>
                            <div class="col-lg-3">
                                <label>{{data.carResponseModel.carPrice}}</label>
                            </div>
                            <label class="col-lg-2" style=" text-align: right;">เกียร์ : </label>
                            <div class="col-lg-4">
                                <label> {{data.carResponseModel.carGear}}</label>
                            </div>
                        </div>

                        <div class="form-group row" style="margin-top: 15px;">
                            <label class="col-lg-3" style=" text-align: right;">ระยะทาง : </label>
                            <div class="col-lg-3">
                                <label>{{data.carResponseModel.carMiles}}</label>
                            </div>
                            <label class="col-lg-2" style=" text-align: right;">น้ำมัน : </label>
                            <div class="col-lg-4">
                                <label> {{data.carResponseModel.carOil}}</label>
                            </div>
                        </div>

                        <div class="form-group row" style="margin-top: 15px;">
                            <label class="col-lg-3" style=" text-align: right;">ปี พ.ศ. : </label>
                            <div class="col-lg-3">
                                <label>{{data.carResponseModel.carYear}}</label>
                            </div>
                        </div>

                    </div>
                    <hr class="my-1" style="margin-top: 5pxpx;">
                    <p style="text-align: center;  margin-top: 20px;"> <strong
                            style="font-size: 20px;">รายละเอียดผู้จอง</strong></p>

                    <div class="form-group row" style="margin-top: 15px;">
                        <label class="col-lg-3" style=" text-align: right;">ชื่อ - นามสกุล : </label>
                        <div class="col-lg-3">
                            <label>{{data.fullName}}</label>
                        </div>
                    </div>

                    <div class="form-group row" style="margin-top: 15px;">
                        <label class="col-lg-3" style=" text-align: right;">อีเมล : </label>
                        <div class="col-lg-3">
                            <label>{{data.userEmail}} </label>
                        </div>
                    </div>

                    <div class="form-group row" style="margin-top: 15px;">
                        <label class="col-lg-3" style=" text-align: right;">เบอร์โทรศัพท์ : </label>
                        <div class="col-lg-3">
                            <label>{{data.userPhone}}</label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-5 col-form-label form-control-label"></label>
                        <div style="text-align: center; margin-bottom: 20px; margin-top: 10px;">
                            <input class="btn btn-success" style="width: 135px;"
                                style="margin-right: 10px; width: 135px;" (click)="approveBookingCar()"
                                value="อนุมัติการจอง">

                            <input class="btn btn-danger" style="width: 135px;" (click)="notApproveBookingCar()"
                                value="ไม่อนุมัติการจอง">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <ng-template #customLoadingTemplate>
    </ng-template>
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"
        [template]="customLoadingTemplate"></ngx-loading>
</section>