<div style="margin-top: 10;">
    <h1 style="text-align: center; margin-top: 15px;">ข้อมูลรถยนต์</h1>
    <div style="text-align: right; ">
        <button (click)="onInsertCar()" class="btn btn-success "> <span class="material-icons">add_box</span>
            เพิ่มข้อมูล </button>
    </div>
    <table class="table table-striped table-hover" style="margin-top: 20px;">
        <thead>
            <tr style="background-color: #ffcc80">
                <th scope="col" style="text-align: center;">ลำดับ</th>
                <th scope="col">ยี่ห้อ</th>
                <th scope="col">รุ่น</th>
                <th scope="col">ราคา</th>
                <th scope="col">เกียร์</th>
                <th scope="col">ระยะทาง</th>
                <th scope="col">น้ำมัน</th>
                <th scope="col">ปี รถ</th>
                <th scope="col">จัดการ</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of listCar ;  let i = index">
                <!-- <tr *ngFor="let country of countries"> -->
                <th style="text-align: center;">{{i+1}}</th>
                <td>{{item.carBrand}}</td>
                <td>{{item.carModel}}</td>
                <td>{{item.carPrice}}</td>
                <td>{{item.carGear}}</td>
                <td>{{item.carMiles}}</td>
                <td>{{item.carOil}}</td>
                <td>{{item.carYear}}</td>
                <td>
                    <button class="btn btn-warning" style="margin-right: 10px; width: 100px;"
                        (click)="onGetId(item)"><span class="material-icons" style=" color: #000000;">edit</span>
                        แก้ไข</button>
                    <button class="btn btn-danger" style="width: 100px;" (click)="onDelete(item)"><span
                            class="material-icons" style="color: rgb(255, 254, 254);">delete</span>ลบ</button>
                </td>
            </tr>
        </tbody>
    </table>
    <ng-template #customLoadingTemplate>
    </ng-template>
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"
        [template]="customLoadingTemplate"></ngx-loading>
</div>