<div class="col-md-6 offset-md-3">
    <span class="anchor" id="formResetPassword"></span>
    <!-- <hr class="mb-5"> -->

    <!-- form card reset password -->
    <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
        <div class="card card-outline-secondary" style="margin-top: 20%;">
            <div class="card-header">
                <h3 class="mb-0">รีเซ็ตรหัสผ่าน</h3>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <label class="mt-1 pt-1" for="inputResetPasswordEmail">กรอกอีเมลที่สมัครไว้</label>
                    <input type="email" class="form-control" id="inputResetPasswordEmail" formControlName="email"
                        placeholder="" required="">

                    <span id="helpResetPasswordEmail" class="form-text small text-muted">
                        การรีเซ็ตรหัสผ่านจะถูกส่งไปยังที่อยู่อีเมลนี้
                    </span>
                    <div
                        *ngIf="changePasswordForm.controls['email'].invalid && (changePasswordForm.controls['email'].dirty || changePasswordForm.controls['email'].touched || isSubmit)">
                        <p class="text-danger">กรุณากรอก E-mail</p>
                    </div>
                </div>
                <div style="text-align: right;">
                    <button class="btn btn-success" style="width: 100px;">รีเซ็ต</button>
                </div>
            </div>
        </div>
    </form>
    <ng-template #customLoadingTemplate>
    </ng-template>
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"
        [template]="customLoadingTemplate"></ngx-loading>
</div>